{:paths ["src"]
 :deps {thheller/shadow-cljs {:mvn/version "3.1.7"}
        reagent/reagent {:mvn/version "2.0.0-alpha1"}
        lambdaisland/fetch {:mvn/version "1.5.83"}
        funcool/promesa {:mvn/version "11.0.678"}}}
