:root {
    --bg-2: #16161d;
}

html, body {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

code[class*="language-"],
pre[class*="language-"] {
    background: var(--bg-2);
    text-shadow: none;
}
